@model IEnumerable<RestaurantManagement.Models.CategoryViewModel>


<div class=" panel panel-default" style="background-color:#e2f0f7">
    <div class="panel-primary">
        <div class="panel-heading btn btn-block">
            <h3>Category</h3>

        </div>
        <div class="panel-body">
            <ul class="list-group">


                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li class="list-group-item"> <a href=" @Url.Action("CatShow", "HomePage", new { id =item.Id })" class="btn btn-success btn-block"><h4>@item.Name</h4></a></li>

                    }
                }
               


            </ul>

        </div>

    </div>

    
</div>





