body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 2px;
    padding-right: 2px;
}
/*Changed by Rad*/
.panel-body {
    background: #cef5e7;
}
/*Changed by Rad*/
.navbar-inverse {
    background-color: #095326;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

