
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "AboutUS";
}

<div class="panel panel-body">
    <div class="col-md-3">

      @*  @{ Html.RenderAction("SideMenu", "HomePage");}*@

        <hr />
        <hr />
        <hr />
        <div class="thumbnail">
            <img src="~/Content/FirstPage Menu/manager.jpg" />
        </div>
        <div class="caption">
            <h3 style="color:crimson">Welcome in Our Restaurant</h3>

        </div>


    </div>
    <div class="col-md-9">
        @*Body Start*@

        <div class="panel panel-body">
            <img src="~/Content/FirstPage Menu/aboutPage.jpg" class="img-responsive"/>
        </div>

        <div class="panel-body">

            <p><h1 style="color:crimson">10 11 Restaurant</h1> is a famous Restaurant in Dhaka city.
                We take Order Cakes, Sweets and Food  Items from dhaka city in Bangladesh.
            <hr />
                No Matter Whether You Are A Student, Engineer, Doctor, Cricketer, Professor,
            Lawyers, Or Even Vagabond Or Having Whatever Professional Background, If You Love
            And Think Of Technology, You Are One Of Us. We Are Spread Around You....
            <hr />
            <hr />

            </p>

        </div>



        @*Body Finished*@
    </div>

</div>


