@model IEnumerable<RestaurantManagement.Models.CategoryViewModel>

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Category";

}


<div class="panel panel-body">
    <div class="col-md-3">

        @{ Html.RenderAction("SideMenu", "HomePage");}

    </div>
    <div class="col-md-6">
        @*Body Start*@

        <div class="panel panel-default">

            @{
                int tot = 0;
                var list = Model.ToList();
                int sz = list.Count;

                if (sz != 0)
                {
                    while (tot < sz)
                    {
                       
                        <div class="panel-body">
                            @for(int i=0;tot<sz && i<3;i++,tot++)
                            {
                                <div class="col-md-4">
                                    <a href="@Url.Action("CatShow", "HomePage", new { id =list[tot].Id })" class="elements btn btn-primary">
                                        @if (list[tot].image == null)
                                        {
                                             <img src="~/Content/Foods/sweet1.jpg" class="img-responsive" />
                                        }
                                        else
                                        {
                                            var base64 = Convert.ToBase64String(list[tot].image);
                                            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

                                            <img src='@imgSrc' class="img-responsive" />

                                        }
                                            <h2>@list[tot].Name</h2>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                }
                else
                {
                    <div class="panel panel-body">
                        <h2>No caterogy Found!</h2>

                    </div>
                }

            }

        </div>

        @*Body Finished*@
    </div>
    <div class="col-md-3">
        @{ Html.RenderAction("RightSideMenu", "HomePage");}

    </div>
</div>


