
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "ContactUS";
}

<div class="panel panel-body">
    <div class="col-md-3">

      @*  @{ Html.RenderAction("SideMenu", "HomePage");}*@

        <hr />
        <hr />
        <hr />
        <div class="thumbnail">
            <img src="~/Content/FirstPage Menu/manager.jpg" />
        </div>
        <div class="caption">
            <h3 style="color:crimson">Welcome in Our Restaurant</h3>

        </div>

    </div>
    <div class="col-md-9">
        @*Body Start*@

        
        <div class="panel panel-body">
            <img src="~/Content/FirstPage Menu/contract us Page.jpg"  class="img-responsive"/>
        </div>
        <div class="panel panel-body">
            <h1 style="color:crimson">10 11 Restaurant</h1>
            <h3><span class="glyphicon glyphicon-map-marker"></span> Address</h3>
            <ul class="list-group list-unstyled">

                <li>60 Feet Road</li>
                <li>Mirpur,Dhaka-1216.</li>
                <li>Cell No:01617-000-000</li>
            </ul>

        </div>

        @*Body Finished*@
    </div>
   
</div>

